# No Artifacts and Builded Stuff for the Repo
bin/**
/bin/
/target/
out/**
out
other/**
other
shade/**
shade
**.jar
# No Logfiles and (changing) Configs
Solaris.log
Config.json
log.txt
config.json
/config.json
# These are some eclipse and maven properties I do not care for 
.factorypath
.settings/**
.settings
.settings/*